@model NorthPoint.Models.Property.PropertyDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PropertyDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PropertyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearBuilt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearBuilt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SqFt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SqFt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewConstruction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewConstruction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HistroicRegister)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HistroicRegister)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfLevels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfLevels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttachedGarage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttachedGarage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GarageSpaces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GarageSpaces)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfFireplaces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfFireplaces)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfBathrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfBathrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfFullBaths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfFullBaths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfHaftBaths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfHaftBaths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfBedrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfBedrooms)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
