@model IEnumerable<NorthPoint.Models.Financial.FinancialListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FinId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LendersName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterestRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DownPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyPayments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxAssessment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnnualTaxAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RemainingYearsOnLoan)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FinId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.City)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.State)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ListPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PurchasePrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LendersName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.InterestRate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DownPayment)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MonthlyPayments)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TaxAssessment)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AnnualTaxAmount)
    </td>
    <th>
        @Html.DisplayNameFor(model => model.RemainingYearsOnLoan)
    </th>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.FinId }) |
        @Html.ActionLink("Details", "Details", new { id = item.FinId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.FinId })
    </td>
</tr>
}

</table>
