@model IEnumerable<NorthPoint.Models.Mechanical.MechanicalListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MechId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MechId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MechId }) |
            @Html.ActionLink("Details", "Details", new { id = item.MechId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MechId })
        </td>
    </tr>
}

</table>
